.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; 

}
#grid-item {
  background: #23b61e; 
  border: 1px solid #3f3152;
}

#grid-item:first-child {
  grid-column: 1 / 2; 
  grid-row: 1 / 3; 
} 
