.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 18px; 
  width: 1510px;

  z-index: 0;

  position: relative;
  top: 60px;

  .gridItem {
    background-color: #FFFFFF;
    width: 364px;
    height: 322px;
  }
  
  .gridItem:first-child {
    grid-column: 1 / 2; 
    grid-row: 1 / 3; 
    height: 662px;
  } 

  .gridItem:nth-child(5),
  .gridItem:nth-child(6),
  .gridItem:nth-child(7) {
    
    .firmFactCard {
      background-color: red;
      align-items: start;
    }

    .firmFactCard .button {
      margin-top: 20px;
    }
  }

  .hidden {
    transform: translateY(-100px);
    transition: transform 0.5s ease;
  }
  
  .visible {
    transform: translateY(0);
  }
  
}